################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MM-control-01.sln
/__vm/.MMU_FW.vsarduino.h
