################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MM-control-01.sln
/__vm/.MMU_FW.vsarduino.h
.pio
.vscode
.cproject
.project
.settings
.DS_Store
/Debug
/__vm/.MM-Control.vsarduino.h
/.vs/MM-control-01/v14/.suo
/main.cpp~RFdf1346e.TMP
/__vm/.MM-control-01.vsarduino.h
Doc
